*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color:#D4E4EC ;
    width: 100%;
    height: 100vh;
}

.container
{
    height: 70%;
    width: 20%;
    background-color:white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.center-container img
{
    width: 90%;
    height: 100%;
    position:relative;
    margin-top: 5%;
    left: 5%;
    border-radius: 10px;

}

.description
{
    width: 90%;
    font-family: "Outfit";
    text-align: center;
    margin-left:5%;
}

h3
{
    font-size: 23px;
    padding:-10px; 
    margin-top: 1rem;
    font-weight: 700;
}

p
{
    font-size: 16px;
    color:grey;
    margin-top: 1rem;
    font-weight: 400;
}


 @media (max-width: 480px)
 {
    .container
    {
        width: 85%;
        height: 90%;
    }
}


  @media (min-width: 481px) and (max-width: 767px)
  {
     .container
    {
        width: 60%;
        height: 90%;
    }

  }

   @media (min-width: 768px) and (max-width: 1024px)
   {
    .container
    {
        height: 70%;
        width: 60%;
    }
    h3
    {
        font-size: 32px;
    }
    p
    {
        font-size: 24px;
    }
   }